[tool.poetry]
name = "googleapiutils2"
version = "0.5.8"
description = "Wrapper for Google's Python API."
authors = ["Mike Babb <mike7400@gmail.com>"]

readme = "README.md"
keywords = ["google", "googleapi", "googleapiutils2"]
license = "MIT"
repository = "https://github.com/mkbabb/googleapiutils2"

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^2.0.2"
mypy = "^1.3.0"
google-api-python-client-stubs = "^1.17.0"
google-api-python-client = "^2.88.0"
google-auth-oauthlib = "^1.0.0"
requests = "^2.31.0"
cachetools = "^5.3.1"
google-auth-httplib2 = "^0.1.0"
google-auth = "^2.19.0"

[tool.poetry.group.dev.dependencies]
types-requests = "^2.31.0.1"
types-cachetools = "^5.3.0.5"
pytest = "^7.3.1"
pandas-stubs = "^2.0.1.230501"
black = "^23.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
