[tool.poetry]
name = "googleapiutils2"
version = "0.11.1"
description = "Wrapper for Google's Python API."
authors = ["Mike Babb <mike7400@gmail.com>"]

readme = "README.md"
keywords = ["google", "googleapi", "googleapiutils2"]
license = "MIT"
repository = "https://github.com/mkbabb/googleapiutils2"

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^2.0.3"
mypy = "^1.5.0"
google-api-python-client-stubs = "^1.17.0"
google-api-python-client = "^2.96.0"
google-auth-oauthlib = "^1.0.0"
requests = "^2.31.0"
cachetools = "^5.3.1"
google-auth-httplib2 = "^0.1.0"
google-auth = "^2.22.0"

[tool.poetry.group.dev.dependencies]
types-requests = "^2.31.0.2"
types-cachetools = "^5.3.0.6"
pytest = "^7.4.0"
pandas-stubs = "^2.0.2.230605"
black = "^23.7.0"
openai = "^0.27.8"
pypdf = "^3.15.0"

[tool.mypy]
python_version = "3.10"
warn_return_any = false
warn_unused_configs = false
disallow_untyped_defs = false
check_untyped_defs = true

[[tool.mypy.overrides]]
module = "google.*,google_auth_oauthlib.*"
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
