[tool.poetry]
name = "googleapiutils2"
version = "0.12.5"
description = "Wrapper for Google's Python API."
authors = ["Mike Babb <mike7400@gmail.com>"]

readme = "README.md"
keywords = [
    "google",
    "googleapi",
    "google-api",
    "google api",
    "googleapiutils2",
    "google-sheets-api",
    "google-drive-api",
]
license = "MIT"
repository = "https://github.com/mkbabb/googleapiutils2"

[tool.poetry.dependencies]
python = "^3.10"
mypy = "^1.7.1"
google-api-python-client-stubs = "^1.23.0"
google-api-python-client = "^2.110.0"
google-auth-oauthlib = "^1.1.0"
requests = "^2.31.0"
cachetools = "^5.3.2"
google-auth-httplib2 = "^0.1.0"
google-auth = "^2.25.2"
openpyxl = "^3.1.2"
pandas = "^2.1.4"

[tool.poetry.group.dev.dependencies]
types-requests = "^2.31.0.10"
types-cachetools = "^5.3.0.7"
pytest = "^7.4.3"
pandas-stubs = "^2.1.1.230928"
black = "^23.11.0"
openai = "^1.3.8"
pypdf = "^3.17.2"

[tool.mypy]
python_version = "3.10"
warn_return_any = false
warn_unused_configs = false
disallow_untyped_defs = false
check_untyped_defs = true

[[tool.mypy.overrides]]
module = "google.*,google_auth_oauthlib.*"
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
